streamlit
openai
pandas
langchain
langchain-community
langchain-chroma
langchain-core
langchain-openai
langchain-schema
huggingface_hub
python-dotenv
openpyxl
sentence-transformers
numpy
protobuf
tiktoken
transformers
scikit-learn
torch
tqdm