streamlit
openai
pandas
langchain==0.3.14
langchain_community
langchain_chroma
langchain_core
langchain-openai
langchain.schema
huggingface_hub
python-dotenv
openpyxl
sentence-transformers
numpy
protobuf
tiktoken
transformers
scikit-learn
torch
tqdm